.header_admin{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list_admin ul{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
    list-style: none; 
}